/* @import '@fontsource/fira-mono'; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
	/* Hide everything */
	body * {
	  visibility: hidden;
	}
  
	/* Show only the table */
	.printable-section, .printable-section * {
	  visibility: visible;
	}
  
	/* Center the table on the page */
	.printable-section {
	  margin: 0 auto;
	  width: 100%;
	  padding: 20px; /* Add some margin at the top */
	  page-break-before: avoid;
	  page-break-after: avoid;
	}
  
	/* Ensure the table doesn't repeat */
	.printable-table {
	  page-break-before: avoid;
	  page-break-after: avoid;
	}
  }
  

* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollclr2) var(--scrollclr1);
  }

  *::-webkit-scrollbar {
	width: 5px;
  }
  
  *::-webkit-scrollbar-track {
	background: var(--scrollclr1);
	border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: var(--scrollclr2);
	border-radius: 20px;
	border: 3px solid var(--scrollclr1);
  }

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-bg-3: rgba(61, 76, 82, 1);
	--color-bg-4: #f7d4b2;
	--color-bg-5: #f2b082;
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);

	--scrollclr1: #364445;
  	--scrollclr2: #F2AA7E;
}
.bg-3d4c52 {
    color: #f7d4b2;
	background-color: #3d4c52;
}
.bg-f7d4b2 {
    background-color: #f7d4b2;
	color: #3d4c52;
}
.bg-f7d4b2:hover {
    background-color: #f2b082;
	color: #3d4c52;
}
.bg-f2b082 {
    background-color: #f2b082;
	color: #3d4c52;
}
.bg-f2b082:hover {
    background-color: #f7d4b2;
	color: #3d4c52;
}
body {

}

.inner {
    font-size: 48px;
    text-shadow: inset 0 0 5px rgba(0,0,0,0.6);
    /* text-shadow: 1px 2px 3px #fff, 0 0 0 #000; */
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	/* text-decoration: underline; */
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
@media (min-width: 640px) {
	.sm\:col-span-4 {
	  grid-column: span 4 / span 4;
	}
  
	.sm\:max-w-xs {
	  max-width: 20rem;
	}
  
	.sm\:text-sm {
	  font-size: 0.875rem;
	  line-height: 1.25rem;
	}
  
	.sm\:leading-6 {
	  line-height: 1.5rem;
	}
  }
  